.advantages {
  background-color: @color-grey;

  &--contrast {
    color: @color-white;

    background-color: @color-blue;
  }
}

.advantages__content {
  &--list {
    .list-style;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &--reverse {
      flex-direction: row-reverse;
    }
  }
}

.advantages__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 167px;
  padding-top: 25px;

  &--contrast {
    min-height: 191px;
    padding-top: 39px;
  }

  @media (min-width: @tablet-width) {
    min-height: 256px;
    width: 33.3%;
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    &--contrast {
      padding-top: 47px;
    }

    &--only-for-desktop {
      padding-top: 51px;
    }
  }
}

@media (max-width: @mobile-width) {
  .advantages__wrapper--first {
    min-height: 211px;
    padding-top: 55px;
  }
}

@media (max-width: @mobile-width) {
  .advantages__wrapper--item:not(:last-child)::before {
    position: absolute;
    content: "";
    bottom: 0;

    width: 87.5%;
    height: 1px;

    background-color: @color-dark-grey;
  }
}

.advantages__title {
  .font(bold; 18px; 26px; @color-black);
  margin: 0;

  &--contrast {
    color: @color-white;
  }

  @media (min-width: @tablet-width) {
    width: 155px;

    font-size: 21px;
  }
}

.advantages__large-screen-port {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.advantages__number {
  @media (min-width: @tablet-width) {
    margin: 10px 0 25px;
  }

  @media (min-width: @desktop-width) {
    margin: 11px 0 24px;
  }
}

.advantages__text {
  width: 250px;
  margin: 0;

  &--contrast {
    width: 300px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__text {
    width: 180px;

    &--contrast {
      width: 195px;
    }

    &--large-screens {
      width: 140px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__text {
    width: 285px;

    &--contrast {
      width: 280px;
    }

    &--only-for-desktop {
      width: 230px;
    }

    &--large-screens {
      width: 270px;
    }
  }
}

.advantages__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 260px;

  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 66.6%;
    min-height: 256px;
  }
}
