.advantages {
  background-color: @color-grey;

  &--contrast {
    color: @color-white;

    background-color: @color-blue;
  }
}

.advantages__content {
  &--list {
    .list-style;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &--reverse {
      flex-direction: row-reverse;
    }
  }
}

.advantages__wrapper {
  @media (min-width: @tablet-width) {
    width: 33.3%;
  }
}

.advantages__title {
  .font(bold; 18px; 26px; @color-black);
  margin: 0;

  &--contrast {
    color: @color-white;
  }
}

.advantages__picture {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 66.6%;
  }
}

.advantages__image {
  display: block;
}
