.appointment__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 287px;
  padding: 35px 0 5px;

  @media (min-width: @tablet-width) {
    min-height: 318px;
    padding-top: 56px;
  }

  @media (min-width: @desktop-width) {
    min-height: 331px;
    padding-top: 56px;
  }
}

.appointment__title {
  .font(bold; 21px; 26px; @color-black);
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.appointment__text {
  margin: 0;
  padding: 21px 0 28px;
  width: 280px;

  line-height: 24px;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 33px 0 39px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 44px;
  }
}

.appointment__large-screen-port {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.appointment__button {
  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.appointment__map {
  height: 350px;

  .background-image (url("../img/map-marker.svg"), url("../img/map-desktop.jpg"); no-repeat, no-repeat; center, center);
  background-color: @color-back-2;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-marker.svg"), url("../img/map-desktop@2x.jpg");
    background-size: 27px 27px, 100% 350px;
  }
}
