.gallery {
  padding: 0 6.4%;
}

.gallery__list {
  .list-style ();
  max-width: 420px;
  margin: auto;

  text-align: left;
}

.gallery__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 280px;

  line-height: 0;

  overflow: hidden;
}

.gallery__image {
  width: 420px;
  height: 280px;
}

.gallery__picture-title {
  .font(bold; 14px; 24px; @color-black);
}

.gallery__picture-author {
  line-height: 24px;
  text-transform: none;
}

.gallery__button-likes {
  .button-without-styles ();
}

.gallery__total-likes {
  .font(bold; 14px; 24px; @color-black);
}
