.gallery {
  padding: 0 6.4%;

  @media (min-width: @tablet-width) {
    padding: 0 7.8%;
  }
}

.gallery__list {
  .list-style ();
  max-width: 420px;
  margin: auto;

  text-align: left;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 789px;
  }
}

.gallery__item:first-child {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.gallery__item {
  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.gallery__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 280px;

  line-height: 0;

  overflow: hidden;

  @media (min-width: @tablet-width) {
    min-height: 267px;
  }
}

.gallery__image {
  width: 420px;
  height: 280px;

  @media (min-width: @tablet-width) {
    width: 400px;
    height: 267px;

    &--first {
      width: 800px;
      height: 400px;
    }
  }
}

.gallery__picture-title {
  .font(bold; 14px; 24px; @color-black);
}

.gallery__picture-author {
  line-height: 24px;
  text-transform: none;
}

.gallery__button-likes {
  .button-without-styles ();
}

.gallery__total-likes {
  .font(bold; 14px; 24px; @color-black);
}
