.introduction__image {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 389px;

  .background-image (url("../img/back-desktop.jpg.jpg"); no-repeat; center);

  @media (min-width: @tablet-width) {
    min-height: 518px;
  }
}

.introduction__title {
  .font(bold; 18px; 26px; @color-black);
}
