.introduction__image {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 388px;

  .background-image (url("../img/intro-triangle.svg"), url("../img/back-desktop.jpg"); no-repeat, no-repeat; bottom, center);

  @media (min-width: @tablet-width) {
    min-height: 518px;
  }
}

.introduction__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 270px;
  min-height: 221px;
  margin: auto;
  padding: 32px 0 10px;

  @media (min-width: @tablet-width) {
    width: 500px;
    min-height: 206px;
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}

.introduction__title {
  margin: 0;

  .font(bold; 18px; 26px; @color-black);

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.introduction__text {
  margin: 0;
  padding-top: 30px;

  line-height: 26px;
}
