.page-form__form {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0 30px;

  border: none;
}

.page-form__title {
  .font(bold; 18px; 26px; @color-black);
}

.page-form__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .list-style;

  &--review {
    .font(bold; 18px; 26px; @color-black);
    text-transform: none;
  }

  &--famous-place {
    .font(bold; 18px; 26px; @color-black);
    text-transform: none;
  }
}

.page-form__item {
  padding-bottom: 20px;
}

.page-form__input {
  .font(bold; 18px; 26px; @color-black);
  text-transform: none;

  background-color: @color-form-light-grey;
  border: none;
}

.page-form__input-acquaintance {
  width: 192px;

  &--name {
    width: 230px;
  }
}
