.page-footer__hashtag {
  .font(bold; 21px; 26px; @color-black);
}

.page-footer__social-list {
  list-style: none;
}

.page-footer__social-item {
  width: 46px;
  height: 48px;

  background-color: @color-blue;
}

.page-footer__copyright-svg {
  fill: @color-black;
}
