.page-header {
  position: relative;

  background-color: @color-white;
  padding-bottom: 56px;

  @media (min-width: @tablet-width) {
    min-height: 56px;
    padding-bottom: 0;
  }
}

.main-navigation {
  .font(bold; 18px; 40px; @color-white);
  background-color: @color-blue;

  @media (min-width: @tablet-width) {
    .font(bold; 14px; 26px; @color-black);
    background-color: inherit;
  }
}

.page-header__logo {
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translate(-50%,);
  z-index: 2;

  @media (min-width: @desktop-width) {
    bottom: -40px;

    width: 186.6px;
    height: 96.5px;
  }
}


.page-header__toggle {
  position: absolute;

  width: 25px;
  height: 25px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__toggle--opened {
  right: 19px;
  bottom: 17px;

  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;

    width: 22.9px;
    height: 4px;

    background-color: @color-blue;
    box-shadow: 0 10px 0 0 @color-blue, 0 20px 0 0 @color-blue;
  }
}

.page-header__toggle--closed {
  right: 19px;
  top: 17px;

  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;

    width: 22.2px;
    height: 22.2px;

    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
  }
}

.main-navigation__list {
  .list-style;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-navigation__item {
  min-height: 54px;

  text-align: center;
  line-height: 54px;

  border-top: 1px solid @color-light-blue;
  border-bottom: 1px solid @color-dark-blue;

  @media (min-width: @tablet-width) {
    width: 20%;
    min-height: 56px;

    line-height: 56px;

    border: none;
  }
}

.main-navigation__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}

.main-navigation__item:hover {
  background-color: @color-dark-blue-2;

  @media (min-width: @tablet-width) {
    background-color: @color-white;
  }
}

.main-navigation__item:active {
  background-color: @color-dark-blue-3;

  @media (min-width: @tablet-width) {
    background-color: @color-white;
  }
}

.main-navigation__item:active .main-navigation__link {
  opacity: 0.3;
}

.main-navigation__link {
  outline: none;

  &:focus {
    border-bottom: 2px solid @color-white;
  }

  @media (min-width: @tablet-width) {
    &:hover,
    &:focus {
      color: @color-blue;
    }

    &:active {
      color: @color-black;
    }
  }
}

.main-navigation__link--whereabouts {
  @media (min-width: @tablet-width) {
    color: @color-brown;

    &:hover,
    &:focus {
      color: @color-dark-brown;
    }

    &:active {
      color: @color-brown;
      opacity: 0.3;
    }
  }
}
